[submodule "mooncake/extern/pybind11"]
	path = mooncake/extern/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "mooncake/extern/yalantinglibs"]
	path = mooncake/extern/yalantinglibs
	url = https://github.com/alibaba/yalantinglibs.git
